In [3]:
import pandas as pd
import numpy as np

In [18]:
labels = ['c','d','e']
my_list = [45,50,55]
arr = np.array([15,25,35])
dict_contoh = {'a':10,'b':20,'c':30}

In [19]:
pd.Series(my_list)

0    45
1    50
2    55
dtype: int64

In [20]:
pd.Series(data=my_list, index=labels)

c    45
d    50
e    55
dtype: int64

In [21]:
pd.Series(my_list,labels)

c    45
d    50
e    55
dtype: int64

In [22]:
pd.Series(arr)

0    15
1    25
2    35
dtype: int32

In [26]:
pd.Series(arr,labels)

c    15
d    25
e    35
dtype: int32

In [28]:
pd.Series(dict_contoh)

a    10
b    20
c    30
dtype: int64

In [29]:
a = [i for i in range (2,10)]
b = [i for i in range (12,20)]
c = [i for i in range (22,30)]

In [30]:
pd.DataFrame(data=[a,b,c],index='a b c'.split(),columns='d e f g h i j k'.split())

    d   e   f   g   h   i   j   k
a   2   3   4   5   6   7   8   9
b  12  13  14  15  16  17  18  19
c  22  23  24  25  26  27  28  29

In [31]:
pd.DataFrame(data = list(zip(a,b,c)),index='d e f g h i j k'.split(),columns='a b c'.split())

   a   b   c
d  2  12  22
e  3  13  23
f  4  14  24
g  5  15  25
h  6  16  26
i  7  17  27
j  8  18  28
k  9  19  29

In [32]:
my_list = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
pd.DataFrame(my_list, index='a b c'.split(),columns='e f g h'.split())

   e   f   g   h
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [38]:
pd.DataFrame(my_list,index='e f g'.split(),columns='a b c d'.split())

   a   b   c   d
e  1   2   3   4
f  5   6   7   8
g  9  10  11  12

In [39]:
from numpy.random import randn
np.random.seed(101)

In [51]:
df = pd.DataFrame(randn(6,5))

In [52]:
df

          0         1         2         3         4
0  0.586847 -1.621348  0.677535  0.026105 -1.678284
1  0.333973 -0.532471  2.117727  0.197524  2.302987
2  0.729024 -0.863091  0.305632  0.243178  0.864165
3 -1.560931 -0.251897 -0.578120  0.236996  0.200780
4  0.327845  0.674485 -0.174057  0.780140 -0.383258
5 -0.409318  0.343539  0.196275 -0.982776  2.231555

In [45]:
my_dict = {'a':[20,30,40,50],'b':[25,35,45,55],'c':[25,26,27,28]}
pd.DataFrame(my_dict,index='W X Y Z'.split())

    a   b   c
W  20  25  25
X  30  35  26
Y  40  45  27
Z  50  55  28